p {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
} 

h1 {
    margin-left: 15%;
    margin-top: 1.5em;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 32px;
}

h2 {
    margin-left: 15%;
    margin-top: 1.5em;
    font-family: Arial, Helvetica, sans-serif;
}

h3 {
    margin-left: 15%;
    margin-top: 1.5em; /* better use px */
    font-family: Arial, Helvetica, sans-serif; /* to html */
}

div {
    margin-left: 15%;
}

blockquote {
    margin-left: 15%;
    margin-right: 15%;
}

table {
    margin-left: 20%;
    border-collapse: separate;
    border-spacing: 1px;
    border: 1px solid black;
}

figure {
    margin-left: 15%;
}

ul {
    margin-left: 15%;
}

th, td {
    border: 1px solid black;
}

figcaption {
    font-style: italic;
}

/* to figure */
img {
    float: right;
}
